/*
@font-face {
  font-family: ezra;
  src: url('fonts/SILEOTSR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/


/* Our standard Hebrew font */
@font-face {
  font-family: david;
  src: url('fonts/TaameyDavidCLM-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 19th century Ashenazi */
@font-face {
  font-family: ashkenaz;
  src: url('fonts/TaameyAshkenaz-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Ashkenazi Sofer Stam */
@font-face {
  font-family: stam-ashkenaz;
  src: url('fonts/StamAshkenazCLM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Sephardi Sofer Stam */
@font-face {
  font-family: stam-sephard;
  src: url('fonts/StamSefaradCLM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rashi */
@font-face {
  font-family: rashi;
  src: url('fonts/Mekorot-Rashi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aleppo Codex, 10C CE  */
@font-face {
  font-family: aleppo;
  src: url('fonts/KeterAramTsova.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Based on the Sarcophagus of Ahiram, King of Gebel, 1300 - 1000 BCE */
@font-face {
  font-family: ahiram;
  src: url('fonts/ahiram.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Proto Canaanite, based on wall inscriptions from turquoise mine in Serabit al-Khadim, Sinai (~1700 BCE) */
@font-face {
  font-family: protocn;
  src: url('fonts/protocn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Based on the Qumran scrolls, ~100 BCE */
@font-face {
  font-family: qumran;
  src: url('fonts/qumran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Based on the Isiah Qumran scroll, ~200 BCE */
@font-face {
  font-family: isiah;
  src: url('fonts/isiah.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Based on the Mesha Stele (850 BCE)  */
/*
@font-face {
  font-family: mesha;
  src: url('fonts/mesha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

/* Based on the Siloah Inscription */
@font-face {
  font-family: siloah;
  src: url('fonts/siloam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-size: 1.5em;
  line-height: 1.1em;
  padding: 0;
  margin: 0;
  color: #333;
  counter-reset: chapter-num 0;
  font-family: david, Georgia, serif;
  padding-top: 64px;
}

body.font-david         .hebrew { font-family: david, Georgia, serif; }
body.font-ashkenaz      .hebrew { font-family: ashkenaz, Georgia, serif; }
body.font-stam-ashkenaz .hebrew { font-family: stam-ashkenaz, Georgia, serif; }
body.font-stam-sephard  .hebrew { font-family: stam-sephard, Georgia, serif; }
body.font-rashi         .hebrew { font-family: rashi, Georgia, serif; }
body.font-isiah         .hebrew { font-family: isiah, Georgia, serif; }
body.font-mesha         .hebrew { font-family: mesha, Georgia, serif; }
body.font-protocn       .hebrew { font-family: protocn, Georgia, serif; }
body.font-siloah        .hebrew { font-family: siloah, Georgia, serif; }
body.font-aleppo        .hebrew { font-family: aleppo, Georgia, serif; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00001A;
  z-index: 999;
  padding-bottom: 18px:
}

#search {
  display: none; /* TODO */
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255,255,255,.9);
  background: url("book.png") no-repeat 4px 4px rgba(255,255,255,.2);
  border: none;
  font-size: 18px;
  padding-left: 43px;
  box-sizing: border-box;
  -webkit-transition: .6s all;
     -moz-transition: .6s all;
       -o-transition: .6s all;
}

#search::-webkit-input-placeholder {
  color: rgba(255,255,255,.7) !important;
}

#search:-moz-placeholder {
  color: rgba(255,255,255,.7) !important;
}

#search::-moz-placeholder {
  color: rgba(255,255,255,.7) !important;
}

#search:-ms-input-placeholder {
  color: rgba(255,255,255,.7) !important;
}

#search:active, #search:focus {
  outline: none !important;
  background-color: rgba(0,0,0,.1);
  -webkit-transition: .4s all;
     -moz-transition: .4s all;
       -o-transition: .4s all;
}

.dropdown {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  display: none;
}

.dropdown li {
  font-size: .8em;
  display: block;
  float: left;
  padding: .4em .4em;
  margin: 0;
  cursor: pointer;
  color: rgba(255,255,255,.5);
}

.dropdown li strong {
  color: white;
  font-weight: bold;
}

#font-dropdown li {
  float: none;
}

.dropdown li:hover {
  background: rgba(255,255,255,.5);
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: black;
  z-index: 999;
}

#footer audio {
  width: 100%;
}

.nav-button {
  background: rgba(0,0,0,.03);
  color: rgba(255,255,255,.9);
  border: none;
  font-size: .8em;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
}

#next {
  float: right;
}

#prev {
  float: right;
}

#book, #font {
  float: left;
}

#header .small {
  font-size: .5em;
}

.nav-button:hover {
  cursor: poiner;
  cursor: hand;
  background: rgba(0,0,0,.07);
}

.hebrew {
  text-align: right;
  float: left;
  direction: rtl;
  line-height: 1.4em; /* taller lines for ezra font */
}

.english {
  text-align: left;
  float: right;
}

po, po1, po2, po3, po4, po5, po6, po7, po8, po9, po10 {
  display: block;
}

.verse .hebrew {
  width: 46%;
  overflow: hidden;
  padding-bottom: .4em;
  position: relative;
  padding-right: 3%;
}

.verse .english {
  width: 46%;
  overflow: hidden;
  font-size: .8em;
  position: relative;
  padding-left: 3%;
}

h2 {
  width: 45%;
  margin: .3em;
  color: #4F4F4F;
  padding-bottom: .5em;
}

.chapter {
  counter-reset: verse-num;
  padding: 0;
}

.faded {
  opacity: .4;
}

.verse {
  position: relative;
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  clear: both;
  overflow: auto;
  text-align: left;
  padding-top: .2em;
  padding-bottom: .2em;
}

.verse .hebrew:before {
  content: counter(verse-num, hebrew);
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: .6em;
}

.verse .english:after {
  content: counter(verse-num);
  counter-increment: verse-num;
  position: absolute;
  top: 4px;
  left: 0;
  color: #666;
  font-size: .6em;
}

h2.hebrew {
  margin-top: 0; /* for ezra font */
}

h2.hebrew:after {
  content: counter(chapter-num, hebrew);
  counter-increment: chapter-num;
}

h2.english:after {
  content: counter(chapter-num);
}

h2.english {
  font-size: 1.2em;
}

.verse:hover {
  background: #efefef;
}

.simplemodal-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

#simplemodal-overlay {
  opacity: .5;
  background: black;
  cursor: pointer;
}

.post {
  font-size: .6em;
  display: block;
  text-decoration: none;
  color: #F38268;
}

.post:hover {
  text-decoration: underline;
}
